.DS_Store
node_modules
/dist

# Cypress
tests/e2e/logs
tests/e2e/screenshots
tests/e2e/videos
tests/e2e/reports

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Config files
config/*
!config/default.js
!config/development.js

# Istanbul
.nyc_output
coverage